@mixin wave-height_and_margin($size) {
	height: $size;
	&--negative {
		margin-top: -1 * $size;
	}
}

.wave {
	display: block;
	width: 100%;
	@include wave-height_and_margin(8rem);
	z-index: -1;
	&--rotated {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	&--flip-horizontally {
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	path {
		/* default wave color */
		fill: $colors-primary;
	}

	@media only screen and (max-width: 1200px) {
		@include wave-height_and_margin(6rem);
	}
	@media only screen and (max-width: 900px) {
		@include wave-height_and_margin(4rem);
	}
	@media only screen and (max-width: 600px) {
		@include wave-height_and_margin(2rem);
	}
	@media only screen and (max-width: 300px) {
		@include wave-height_and_margin(1rem);
	}
}
