<!DOCTYPE html>
<html>

<head>
    <link media="all" rel="stylesheet" href="{{ path '/styles/style.css' }}">
    <link rel="stylesheet" href="//basehold.it/28">
    <title>Preview Layout</title>
    <style type="text/css">
        body {
            padding-top: 0;
        }
    </style>
</head>

<body>

    {{{ yield }}}

</body>

</html>